grant codeBase "file:/C:/Users/631020399/Documents/workspace/BingoRMI/bin" {
	permission java.security.AllPermission;
	permission java.net.SocketPermission "*:1099-", "connect,accept";
};
